.day_element {
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
}

.day_element:hover {
    background-color: #00bdbe;
}

.selected {
    background-color: #024f4f;
    color: white;
}

.day_element .day_of_week {
    font-weight: bold;
}

.day_element .day_of {
    color: orange;
}

.circle_important {
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

.icons_important {
    width: 90%;
    position: absolute;
    top: 2px;
    left: 2px;
}
